@import "../../styles/colors";
@import "../../styles/sizes";

.footer {
  position: fixed;
  background-color: $bleached-bone;
  border-top: $border-size solid $black-font;
  height: ($footer-height - (2 * $footer-padding) - $border-size);
  padding: $footer-padding;
  bottom: 0;
  left: 0;
  right: 0;

  .footer-text {
    text-align: center;
  }
}
