@import "../../styles/colors";
@import "../../styles/sizes";

.navbar {
  height: $navbar-height;
  background-color: $white-font;
  color: $black-font;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
