@import "../../styles/colors";
@import "../../styles/sizes";

.navbar {
  height: ($navbar-height - (2 * $navbar-padding) - $border-size);
  background-color: $red-strong;
  color: $white-font;
  border-bottom: $border-size solid $black-font;
  padding: $navbar-padding;
  float: left;
  width: calc(100% - #{$navbar-padding});
  user-select: none;
}
