@import "../../styles/sizes";

.logo {
  float: left;
  height: ($navbar-height - (2 * $navbar-padding));
  font-size: ($navbar-height - (2 * $navbar-padding)) - 8px;

  @media (max-width: 450px) {
    font-size: ($navbar-height - (2 * $navbar-padding)) - 20px;
  }
}
