@import "../../styles/colors";
@import "../../styles/sizes";

.beer-view {
  width: 120px;
  height: 120px;
  padding: 8px;
  border: $border-size solid $black-font;
  margin: 10px;
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 $border-size $black-font inset;
    outline: $black-font solid $border-size;
  }
}
