.grid {
  .grid-list {
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    padding: 0;

    .grid-list-item {
      padding: 0;
      margin: 0;
      display: inline-block;
      vertical-align: top;
    }
  }
}
