@import "../../styles/colors";
@import "../../styles/sizes";

.filter {

  .filter-input {
    width: calc(100% - (2 * #{$filter-padding}));
    border: 0;
    border-bottom: $border-size solid $black-font;
    height: $filter-height - (2 * $filter-padding) - $border-size;
    padding: $filter-padding;
    font-size: 20px;
    background-color: $grey-light;
    transition: all .2s ease-out;

    &:hover {
      box-shadow: 0 0 2px black inset;
      transition: all .2s ease-out;
    }

    &:focus {
      background-color: white;
      transition: all .2s ease-out;
      outline: none;
    }
  }
}
