@import "../../styles/colors";
@import "../../styles/sizes";

.filter {

  .filter-input {
    width: 100%;
    border: 0;
    height: $filter-height;
    padding: $filter-padding;
    font-size: 20px;
    box-sizing: border-box;
    background-color: inherit;
    transition: all .15s ease-in-out;

    &:hover {
      background-color: $grey-light;
    }

    &:focus {
      outline: none;
      background-color: white;
      transition: all .15s ease-in-out;
    }
  }
}
